# Ключ от Exchange Rates Data API
# Получите бесплатный ключ на: https://apilayer.com/marketplace/exchangerates_data-api
API_KEY=your_api_key_here

# Базовый URL API
EXCHANGE_API_URL=https://api.apilayer.com/exchangerates_data